*{
    margin: 0;
    padding: 0;
}

body{ margin: 0 auto;}



#row1{background-image: url(../img/banner.jpg); height: 675px; width: 1400px; margin: 0 auto;}
.one{}
.top{}
.logo{}
.logo img{}
.navi{}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #3ae721;
}

.one_down{}

.carousel{height: 100%;}
.carousel-item{}
.carousel-item h3{font-size: 40px;}
.carousel-item h1{font-size: 100px; border: 2px solid #fdfdfd;}
.carousel-item h1 strong{font-size: 100px; color: #67d656;}
.carousel-indicators{margin-bottom: -60px;}
.carousel-indicators li{width: 20px; height: 20px; border-radius: 100%; opacity: 1; }
.carousel-indicators .active{background: #87d37c; height: 5px; width: 20px;}


/* ========================
==========Row 2============= */

#row2{height: 550px; width: 1400px; background: #fff; margin: 0 auto;}
.tow{}
.tow_top{}
.tow_top h3{}
.tow_top p{}


.tow_down{}
.tow_down_p{}
.tow_di{}
.tow_di:hover{color: #87d375;}
.tow_di:hover i{color: #87d375;}
.tow_di a{}
.tow_di a i{font-size: 67px; color: #000;}
.tow_down_p p{font-size: 14px;}

/* ===================
===========Row 3======== */

#row3{height: 620px; width: 1400px; background: #e1e1e1; margin: 0 auto;}
.three{}
.three_top{}
.three_tt{}
.three_tt h3{}
.three_tt p{}


.three_down{}
.three_dp{position: relative; overflow: hidden;}
.three_dp img{}
.overlay{position: absolute; top: -100%; width: 100%; height: 100%; background: rgba(0,0,0,.4);}
.overl{position: absolute; left: -100%;}
.overl a{}
.overl a i{font-size: 20px; border: 1px solid #fff; border-radius: 50%;}
.overl a i:hover{background: #87d37c;}

.three_dp:hover .overlay{ top: 0; transition: .5s;}
.three_dp:hover .overl{ top: 40%; left: 30%; transition: .8s;}


/* ========================
============Row 4*/

#row4{height: 1090px; width: 1400px; background: #fff; margin: 0 auto;}
.four{}
.four_top{}
.four_top_ser{}
.four_top_ser h3{}
.four_top_ser p{}
.four_top_ser button{}
.four_top_ser button:hover{background: #87d37c; border: none;}


.four_down{}
.four_d_img{position: relative; overflow: hidden;}
.four_d_img img{}
.overly{position: absolute; top: -100%; width: 100%; height: 100%; background: rgba(0,0,0,.7);}
.overly h2{position: absolute; height: 100%; width: 100%; left: -60%; color: #87d37c;}

.four_d_img:hover .overly{top: 0; transition: 1s;}
.four_d_img:hover .overly h2{top: 45%; left: 30%; transition: .5s;}


/* =======================
==========Row 5=========== */

#row5{height: 700px; width: 1400px; background: #fff; margin: 0 auto;}
.five{}
.five_top{}
.five_t_text{}
.five_t_text h3{}
.five_t_text p{}

.five_down{}
.five_d_card{height: 420px; width: 246px; background: #39393a; margin: 0 auto; position: relative;}

.five_card_top {
    border: 3px solid #fdfdfd;
    border-radius: 100%;
    padding: 20px 0px 0px 0px;
    height: 115px;
    width: 130px;
    position: absolute;
    margin: 23px 53px;
}
.five_card_top h4{position: relative;}
.five_card_top small{position: absolute; margin-left: -42px; font-size: 15px;}
.five_card_top h4 span{font-size: 14px;}
.basic{margin-left: 30px; font-size: 23px;}

.five_card_down{position: absolute; margin: 183px 0px 0px 60px;}
.five_card_down p{border-bottom: 1px solid #fffefe;}
.five_card_down button{color: #000;}

.five_d_card:hover{background: #87d37c;}
.five_d_card:hover .five_card_top{color: #87d37c; background: #fff;}


/* ===============================
=============Row 6============= */

#row6{height: 334px; width: 1400px; margin: 0 auto; background-image: url(../img/bg.jpg);}

.six{}
.six_item{height: 120px; width: 250px; background: rgba(0,0,0,.8); border: 1px solid #fffefe;}
.six_item h1{}
.six_item p{}


/* ======================
==========Row 7======== */

#row7{height: 485px; width: 1400px; margin: 0 auto; background: #fff;}
.seven{}
.seven_top{}
.s_top_text{}
.s_top_text h3{}
.s_top_text p{}


.seven_down{}
.s_down_i{}
.s_down_i a{}
.s_down_hover a i{font-size: 60px; color: #000;}
.s_down_hover h5{}
.s_down_hover small{}

.s_down_hover:hover{color: #87d375;}
.s_down_hover:hover i{color: #87d375;}


/* ========================
===========Row 8=========== */

#row8{height: 295px; width: 1400px; margin: 0 auto;background: #f5f5f5;}
.eight{}
#row8 .bbb{background: #87d375;}
#row8 .bbb:hover{background: #87D301;}





/* ======================
===========Row 9=========== */

#row9{height: 400px; width: 1400px; margin: 0 auto; background-image: url(../img/bottom.jpg);}
.nine{}




/* ==================
==========Row 10========= */

#row10{height: 70px; width: 1400px; background: #000101; margin: 0 auto;}
.ten{}
.copyright{}
.copyright p{}

.social{}
.social a{}
.social a i{}
.social a:hover i{background: #87d375;}

















@media(max-width:992px){
    
#row1 .carousel-item h3{font-size: 20px;}
#row1 .carousel-item h1{font-size: 60px;}
#row1 .carousel-item h1 strong{font-size: 60px;}
}